/*! overruling the other settings */

.text-primary {
  color: #C2C2C2;
}

.present {
    margin-top: -30px;
    color: #FFF;
    background-color: #545454;
}

.present .col-md-6{
    margin-top: 30px;
}

.title-center {
    text-align: center;    
}

.h1 {
  font-size: 50px;  
}