<?php

class Credentials
{
    const HOST = 'smtp.your-domain.com';
    const PORT = 587;
    const USERNAME = 'youremail@yourdomain.com';
    const PASSWORD = 'm3g4s3cur3';
    const SECURE = 'tls';
}
