/* Write your global styles here, in PostCSS syntax */
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Atkinson';
		src: local('Atkinson'), url('/fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
	}
}
